* {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

a, a:link, a:active, a:focus, a:visited, a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #333;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
}

/* icon */
.fa-solid {
    margin-bottom: 7px;
}

/* pop-up */

#popup {
    text-align: center;
}

#popup > .popup_open {
    background: url('images/arrow1.png') center no-repeat;
    height: 18px;
    cursor: pointer;
    display: none;
    position: absolute;
    width: 50px;
    top: 0;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

#popup > .popup_open.open {
    display: block;
}

#popup > .popup_open > img {
    opacity: 0;
}

#popup > .popup_img {
    background-color: rgb(240, 241, 245);
    position: relative;
}

#popup img {
    margin: 0 auto;
}

#popup > .popup_img > .popup_close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#popup > .popup_img.close {
    display: none;
}

/* header */

#header {
    background-color: #000;
}

.sec {
    max-width: 1260px;
    margin: 0 auto;
}

/* 로고, 유저 메뉴 */

#header > .logo_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

#header > .logo_sec > .user_menu {
    display: flex;
    align-items: center;
    color: #666;
}

#header > .logo_sec > .user_menu > li > a {
    color: #a0a0a0;
    font-size: 12px;
    padding: 0 10px;
}

#header > .logo_sec > .user_menu > li.user_cart > a {
    display: flex;
    align-items: center;
}

#header .user_join {
    position: relative;
}

#header .join_point {
    position: absolute;
    top: 30px;
    background-color: #8a8a8a;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    width: 56px;
    text-align: center;
    border-radius: 3px;
    animation: join 1s linear infinite;
}

@keyframes join {
    0% {transform: translateY(0px);}
    25% {transform: translateY(2px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-2px);}
}

#header .join_point::before {
    content: '▲';
    color: #8a8a8a;
    position: absolute;
    left: 50%;
    top: -13px;
    transform: translateX(-50%);
}

#header > .logo_sec > .user_menu > li.user_cart > a > .cart_cnt {
    background-color: #888;
    color: #fff;
    padding: 0 5px 1px 5px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    line-height: 17px;
}



/* 메인 메뉴 */

#header > .menu_sec {
    max-width: 100%;
    height: 50px;
    background-color: #000;
}

#header.on > .menu_sec {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 777;
}

#header > .menu_sec > .sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

#header > .menu_sec > .sec > .main_menu {
    display: flex;
    align-items: center;
    height: 100%;
}

#header .menu {
    height: 100%;
}

#header .menu > a {
    position: relative;
    transition: all 0.3s;
    height: 100%;
}

#header > .menu_sec > .sec > .main_menu > li.menu:hover > a {
    color: #ccc;
}

#header .menu > a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: width 0.3s;
}

#header .menu:hover > a::after {
    width: 100%;
}

#header > .menu_sec > .sec > .main_menu > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

#header > .menu_sec > .sec > .search {
    display: flex;
    align-self: center;
}

#header > .menu_sec > .sec > .search > .search_btn {
    width: 20px;
    height: 20px;
    background: url('images/sech2.png') center no-repeat;
    cursor: pointer;
}

#header > .menu_sec > .sec > .search > .search_bar {
    max-width: 280px;
    height: 30px;
}

#header > .menu_sec > .sec > .search > .search_bar > input[type=text] {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    caret-color: #fff;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}

#header > .menu_sec > .sec > .search > .search_bar > input[type=text]:focus {
    outline: none;
}

#header .m_hamburger,
#header .m_icon {
    display: none;
}

#header .m_hamburger {
    font-size: 25px;
    font-weight: 100;
}

/* sub menu */
#header .menu_sec {
    position: relative;
}

#header .menu_sec .menu:hover .sub_menu {
    display: flex;
}

#header .menu_sec .menu .sub_menu {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1260px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 777;
    display: none;
    justify-content: space-between;
}

#header .menu_sec .menu .sub_menu .sub_menu_category {
    display: flex;
    justify-content: space-between;
    margin: 40px 30px 30px 30px;
}

#header .menu_sec .menu .sub_menu .sub_menu_banner {
    margin: 40px 15px 15px 15px;
}

#header .menu_sec .menu .sub_menu .sub_menu_category .sub_menu_item {
    min-width: 175px;
}

#header .menu_sec .menu .sub_menu .sub_menu_category .sub_menu_item li a {
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    transition: all 0.3s;
}

#header .menu_sec .menu .sub_menu .sub_menu_category .sub_menu_item li a:hover {
    color: #ccc;
}

#header .menu_sec .menu .sub_menu .sub_menu_category .sub_menu_item li.category {
    margin-bottom: 10px;
}

#header .menu_sec .menu .sub_menu .sub_menu_category .sub_menu_item li.category a {
    font-size: 16px;
    font-weight: 600;
}

/* slider */
#slider .slick-dotted.slick-slider {
    margin: 0;
}

#slider .slick-dots {
    bottom: 20px;
}

#slider .slider .slick-arrow {
    opacity: 0;
    transition: all 0.4s;
}

#slider .slider:hover .slick-arrow {
    opacity: 0.4;
}

#slider .slick-prev {
    left: 53px;
    background: url('images/arrow6.gif') 45% no-repeat;
    background-size: 30%;
}

#slider .slick-next {
    right: 53px;
    background: url('images/arrow8.gif') 55% no-repeat;
    background-size: 30%;
}

#slider .slick-prev, #slider .slick-next {
    width: 50px;
    height: 50px;
    z-index: 555;
    background-color: #fff;
    border-radius: 50%;
}

#slider .slick-prev:before, #slider .slick-next:before {
    content: none;
}

#slider .slick-slide {
    position: relative;
    transition: all 0.5s;
}

#slider .slick-slide::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    transition: all 0.5s;
}

#slider .slick-slide.slick-active::after {
    opacity: 0;
}

#slider .slick-dots li button:before {
    content: '';
    background-color: #fff;
    box-shadow: 0 0 3px #767676;
    height: 8px;
    width: 16px;
    border-radius: 50px;
    transition: width 0.2s;
    opacity: 0.5;
}

#slider .slick-dots li.slick-active {
    width: 44px;
}

#slider .slick-dots li.slick-active button:before {
    width: 40px;
    background-color: #000;
    box-shadow: 0 0 3px #fff;
    opacity: 0.7;
}

/* section01 banner */
#sec01 {
    display: flex;
    margin-top: 100px;
}

#sec01 > .banner {
    width: 50%;
    overflow: hidden;
}

#sec01 > .banner img {
    transition: all 0.4s;
}

#sec01 > .banner img:hover {
    transform: scale(1.05);
}

/* sec02 best */
#sec02 {
    margin-top: 100px;
}

#sec02 > .best_title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding-bottom: 30px;
}

#sec02 > .best_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

#sec02 > .best_tab > li {
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
}

/* goods list */

.goods_list .goods_cont {
    display: flex;
}

.goods_list .goods_cont .goods {
    width: 25%;
    padding-left: 20px;
}

.goods_list .goods_cont .goods:first-child {
    padding-left: 0;
}

.goods_list .goods {
    transition: all 0.4s;
}

.goods_list .goods_hover {
    display: none;
}

.goods_list .goods_img {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.goods_list .goods_img img {
    margin: 0 auto;
}

.goods_list .goods_img > .zzim {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.goods_list .goods_img > .zzim img {
    width: 16px;
}

.goods_list .goods_title > a {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    padding: 3px 0;
}

.goods_list .goods_contents {
    font-size: 13px;
    color: #999;
    padding: 3px 0;
}

.goods_list .price {
    display: flex;
    justify-content: space-between;
}

.goods_list .price .sales {
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

.goods_list .price .price_won {
    font-size: 13px;
    color: #999;
    text-decoration:line-through;
}

.goods_list .price .sales_percent {
    font-size: 17px;
    font-weight: 500;
    color: #ff0505;
}

.goods_list .goodsInfo {
    padding: 5px 0;
}

.goods_list .goodsInfo img {
    display: inline-block;
}

/* goods hover */
.goods_list .goods:hover .goods_not_hover {
    display: none;
}

.goods_list .goods:hover .goods_hover {
    display: block;
}

/* tab 기능 */
.goods_list {display: none;}
.goods_list:first-child {display: block;}

.tab_list.tab_active a {
    position: relative;
}

.tab_list.tab_active a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* 판매중지 상태 */
.suspension {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.suspension span {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}


/* sec03 banner */
#sec03 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;
}

#sec03 .banner {
    width: 33.3333%;
    transition: all 0.4s;
}

#sec03 .banner img {
    margin: 0 auto;
}


#sec03 .banner:hover {
    transform: rotate(2deg);
}

/* sec04 new */
#sec04 {
    margin-top: 100px;
}

#sec04 > .new_title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding-bottom: 30px;
}

#sec04 > .new_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

#sec04 > .new_tab > li {
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
}



.goods_list .goods .goods_img {
    overflow: hidden;
}

.goods_list .goods .goods_hover_img {
    transition: 0.4s;
}

.goods_list .goods .goods_hover_img:hover {
    transform: scale(1.1);
}

/* sec05 banner */
#sec05 {
    margin-top: 100px;
    height: 403px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('images/samsung6.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#sec05 .banner {
    color: #fff;
    text-align: center;
}

#sec05 .banner .title {
    font-size: 60px;
    font-weight: 200;
}

#sec05 .banner .sub_title {
    font-size: 35px;
    font-weight: 700;
}

#sec05 .banner .banner_btn {
    display: inline-block;
    border: 1px solid #fff;
    font-size: 16px;
    padding: 15px 40px;
    color: #fff;
    margin-top: 40px;
}

/* sec06 news */

#sec06 {
    margin-top: 100px;
    margin-bottom: 100px;
}

#sec06 .news_title {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

#sec06 .news_contents {
    display: flex;
    justify-content: space-between;
}

#sec06 .news_contents .col3:hover {
    transform: translateY(-10px);
}

#sec06 .news_contents .col3 {
    width: 33.333%;
    transition: all 0.4s;
    padding-left: 20px;
}

#sec06 .news_contents .col3:first-child {
    padding-left: 0;
}

#sec06 .news_contents .col3 img {
    max-width: 100%;
    margin-bottom: 40px;
}

#sec06 .news_contents .col3 h3.title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

#sec06 .news_contents .col3 p.cont {
    margin-top: 15px;
    font-size: 16px;
    color: #999;
}

/* footer */
#footer {
    background-color: #222;
    padding: 50px 0;
}

#footer .footer_menu {
    display: flex;   
    margin-bottom: 30px;
}

#footer .footer_menu li {
    margin-right: 15px; 
}

#footer .footer_menu a {
    font-size: 14px; 
    color: #fff;
    font-weight: 500;
}

#footer .info > li{
    display: inline-block;
}

#footer .info .title {
    font-size: 12px;
    color: #bebdbd;
    padding-right: 8px;
}

#footer .info .cont > a {
    color: #808080;
} 

#footer .info .cont > a.call {
    font-size: 18px;
    font-weight: 400;
} 

#footer .info .cont {
    font-size: 12px;
    color: #808080;
    padding-right: 20px;
}

#footer .footer_info {
    margin-top: 30px;
}

#footer .copyright {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    margin-bottom: 30px;
}

#footer .sns {
    display: flex;
}

#footer .sns .icon {
    margin-right: 8px;
}

/* sidebar */

#sidebar {
    background-color: #fff;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -220px;
    z-index: 777;
    transition: right 0.5s;
    border-left: 1px solid #ddd;
}

#sidebar.open {
    right: 0;
}

#sidebar .arrow {
    position: absolute;
    top: 50%;
    right: 220px;
    transform: translateY(-50%);
    width: 40px;
}

#sidebar .arrow .side_close {
    display: none;
}

#sidebar.open .arrow .side_close {
    display: block;
}

#sidebar.open .arrow .side_open {
    display: none;
}

#sidebar .arrow button{
    display: block;
    cursor: pointer;
}

#sidebar .arrow .arrow_top {
    transform: translateY(-1px);
}

#sidebar .arrow .arrow_bottom {
    transform: translateY(-2px);
}

#sidebar .side_info {
    padding: 30px 20px 0 20px;
}

#sidebar .side_info .title {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 11px;
}


#sidebar .side_info .call {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

#sidebar .side_info .content,
#sidebar a {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: #999;
    margin-bottom: 30px;
}

#sidebar .side_info .content span {
    display: block;
}

#sidebar .side_info .sns {
    display: flex;
}

#sidebar .side_info .sns .icon {
    margin-right: 7px;
    opacity: 0.4;
    transition: all 0.4s;
}

#sidebar .side_info .sns .icon:hover {
    opacity: 1;
}

@media screen and (max-width:1023px) {

    .sec {
        padding: 0 10px;
    }

    /* header */
    #header > .logo_sec > .user_menu,
    #header > .menu_sec > .sec > .search,
    #sidebar {
        display: none;
    }

    #header > .logo_sec {
        justify-content: center;
        height: 63px;
    }

    #header .logo_sec {
        position: relative;
    }

    #header .m_hamburger {
        display: block;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    #header .m_icon {
        display: flex;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    #header .m_icon .cart {
        margin-right: 10px;
    }
    
    #header > .menu_sec > .sec > .main_menu {
        overflow-x: auto;
        white-space: nowrap;
    }

    #header > .menu_sec > .sec > .main_menu::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    #header > .menu_sec > .sec > .main_menu > .menu > a {
        padding: 0 20px;
        text-align: center;
        margin-right: 0;
    }

    /* slider */
    #slider .slick-dots {
        bottom: 10px;
    }

    #slider .slick-dots li,
    #slider .slick-dots li button {
        height: 8px;
    }

    /* goods */

    .goods_list .goods_cont {
        display: block;
        width: 100%;
    }

    .goods_list .goods_cont .goods {
        width: calc(50% - 10px);
        display: inline-block;
        margin-top: 20px;
        padding-left: 10px;
    }

    .goods_list .goods_cont .goods:nth-last-child(2) {
        padding-left: 0;
    }

    /* banner */
    #sec05 {
        height: 316px;
        background-position: center center;
        background-attachment: scroll;
    }

    #sec05 .banner .title {
        font-size: 40px;
    }

    #sec05 .banner .sub_title {
        font-size: 28px;
    }



    /* footer */

    #footer .info > li {
        width: 49%;
        max-width: inherit;
        vertical-align: top;
    }

    #footer .footer_info .info > li {
        width: auto;
    }

} 

@media screen and (max-width:479px) {

    /* header */

    #header .logo_sec .logo img {
        width: 180px;
    }

    #header > .logo_sec {
        height: 57px;
    }

    /* header scroll */
    #header.on > .logo_sec {
        position: fixed;
        max-width: 100%;
        width: 100%;
        top: 0;
        background: #000;
        z-index: 777;
        padding: 0;
    }

    #header.on > .menu_sec {
        position: inherit;
    }

    /* sec01 */

    #sec01 {
        margin-top: 50px;
        display: block;
    }

    #sec01 > .banner {
        width: 100%;
        margin-top: 5px;
    }

    /* section margin-top */
    #sec02, #sec03, #sec04, #sec05, #sec06, #footer {
        margin-top: 50px;
    }

    /* sec03 */
    #sec03 {
        display: block;
    }

    #sec03 .banner {
        width: 100%;
        margin-top: 5px;
    }

    /* banner */
    #sec05 {
        height: 278px;
        background-position: center center;
        background-attachment: scroll;
    }

    #sec05 .banner .title {
        font-size: 30px;
    }

    #sec05 .banner .sub_title {
        font-size: 20px;
    }

    #sec05 .banner .banner_btn {
        margin-top: 30px;
    }

    /* sec06 news */
    #sec06 .news_contents {
        display: block;
    }

    #sec06 .news_contents .col3 {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    #sec06 .news_contents .col3 h3.title {
        font-size: 20px;
    }

    /* footer */
    #footer .footer_menu {
        display: block;
    }
    #footer .footer_menu li {
        display: inline-block
    }

    #footer .info > li {
        width: 100%;
    }
}